<aside class="sidebar">

    <div class="logo">

        <div class="logo-icon">
            H
        </div>

        <div>
            <h2>HealthForge</h2>
            <span>AI Healthcare</span>
        </div>

    </div>


    <nav class="sidebar-nav">

        <a href="/dashboard" class="nav-item">
            <span>▣</span>
            Dashboard
        </a>

        <a href="/hospitals" class="nav-item">
            <span>⌕</span>
            Search Hospital
        </a>

        <a
            href="{{ url_for('my_doctors') }}"
            class="nav-item"
        >
            <span>♟</span>
            Doctors
        </a>

        <a href="/appointments" class="nav-item">
            <span>📅</span>
            Appointments
        </a>

        <a
            href="{{ url_for('medical_records') }}"
            class="nav-item"
        >
            <span>▤</span>
            <span>My Records</span>
        </a>

        <a
            href="{{ url_for('notifications') }}"
            class="nav-item"
        >
            <span>🔔</span>
            <span>Notifications</span>
            {% if unread_notification_count > 0 %}

            <span class="notification-count">
                {{ unread_notification_count }}
            </span>

            {% endif %}
        </a>

        <a
            href="{{ url_for('profile') }}"
            class="nav-item"
        >
            <span>👤</span>
            <span>Profile</span>
        </a>

    </nav>


    <div class="sidebar-bottom">

        <a href="/logout" class="nav-item logout">
            <span>↪</span>
            Logout
        </a>

    </div>

</aside>